body
{
    margin: 5rem;
    padding: 1rem 3rem;
    background: linear-gradient(to right,rgb(161, 188, 188),rgb(120, 120, 165));
}
h1
{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

/* button */
.btn
{
    color: white;
    float: right;
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid #fff;
    background: linear-gradient(to top right, rgb(120, 120, 104),rgb(78, 86, 78));
}
#dog-breed
{
    width: 200px;
    padding: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid #fff;
    text-transform: capitalize;
    /* color: #fff; */
    background: linear-gradient(to top right, rgb(128, 128, 125),rgb(78, 86, 78));
}
#breed-btn-container
{
    margin: 2rem;
}
#image-btn-container
{
    margin: 2rem auto;
    width: 100%;
    height: 70vh;
    border: 2px solid rgb(164, 153, 153);
    box-sizing: border-box;
}
#dog-img
{
    display: inline-block;
    height: 100%;
    width: 50vw;
}
#dog-img img
{
    height: inherit;
    width: 50vw;
}
#nextBtn
{
    position: relative;
    top: 43%;
}


